<!DOCTYPE HTML>
<html>
<head>
<title>欢迎</title>
<%- include('common/global'); %>
</head>
<body>
<%- include('common/header'); %>
<div class="main">
	
	<div class="main-left">
		<%- include('common/left'); %>
	</div>
	<div class="main-right">
		<h1 style="text-align: center;margin-top: 50px">欢迎访问</h1>
	</div>
</div>
<%- include('common/footer'); %>
</body>
</html>
